<a href="https://colab.research.google.com/github/meidavida957-cyber/AVD_Meilanie_2509116109/blob/main/AVD_Meilanie_2509116109.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Bank Marketing Dataset - Analisis Data Science**
---
**Nama:** Meilanie

**Kelas:** c

**Dataset:** Bank Marketing Dataset (Kaggle)

**Checkpoint 1: Business Understanding**

In [ ]:
import pandas as pd

path = "/content/Dataset/bank.csv"
df = pd.read_csv(path)

## **Dataset :**

In [ ]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

## **5 Data Teratas :**

In [ ]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

## **Informasi Dataset :**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

## **Statistik Deskriptif :**

In [ ]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

---
## **1. BUSINESS UNDERSTANDING**

Business Understanding merupakan tahap pertama dalam metodologi CRISP-DM (Cross-Industry Standard Process for Data Mining). Pada tahap ini, kita akan memahami konteks bisnis, mengidentifikasi masalah, dan menentukan tujuan analisis data.

### **1.1 Business Objective**

#### **Latar Belakang**

Dataset Bank Marketing ini berisi data dari kampanye pemasaran langsung (direct marketing) sebuah institusi perbankan di Portugal. Kampanye pemasaran ini dilakukan melalui telepon untuk menawarkan produk deposito berjangka (term deposit) kepada nasabah.

#### **Penjelasan Data**

Dataset ini mencakup informasi tentang:
- **Data Demografis Nasabah**: usia, pekerjaan, status pernikahan, pendidikan
- **Data Finansial**: status kredit, saldo rekening, pinjaman
- **Data Kampanye**: jumlah kontak, durasi panggilan, hasil kampanye sebelumnya
- **Data Ekonomi**: indikator ekonomi makro saat kampanye berlangsung
- **Target Variable**: Apakah nasabah berlangganan deposito berjangka atau tidak (yes/no)

#### **Identifikasi Masalah**

Permasalahan utama yang dihadapi oleh bank adalah:

1. **Efisiensi Rendah dalam Kampanye Marketing**
   - Banyak waktu dan sumber daya terbuang untuk menghubungi nasabah yang tidak berminat
   - Conversion rate (tingkat keberhasilan) kampanye marketing masih rendah
   - Biaya operasional tinggi karena pendekatan yang tidak tertarget

2. **Kurangnya Pemahaman tentang Profil Nasabah Potensial**
   - Tidak ada strategi yang jelas dalam menentukan target nasabah
   - Sulit mengidentifikasi karakteristik nasabah yang cenderung tertarik pada produk deposito

3. **Optimalisasi ROI (Return on Investment)**
   - Perlu meningkatkan efektivitas kampanye dengan budget yang terbatas
   - Memaksimalkan hasil dengan meminimalkan usaha yang sia-sia

#### **Tujuan Analisis**

Berdasarkan permasalahan di atas, tujuan dari analisis ini adalah:

1. **Mengidentifikasi pola dan karakteristik** nasabah yang berpotensi tinggi untuk berlangganan deposito berjangka

2. **Membangun model prediksi** yang dapat memprediksi nasabah mana yang kemungkinan besar akan tertarik dengan produk deposito

3. **Meningkatkan efisiensi kampanye marketing** dengan fokus pada nasabah yang tepat, sehingga:
   - Mengurangi biaya operasional
   - Meningkatkan conversion rate
   - Mengoptimalkan penggunaan waktu tim marketing

4. **Memberikan insight bisnis** yang actionable untuk strategi marketing yang lebih efektif di masa depan

#### **Manfaat untuk Bisnis**

- **Penghematan Biaya**: Mengurangi jumlah panggilan yang tidak produktif
- **Peningkatan Revenue**: Fokus pada nasabah dengan probabilitas tinggi meningkatkan penjualan deposito
- **Efisiensi Operasional**: Tim marketing dapat bekerja lebih efektif dan efisien
- **Customer Experience**: Nasabah yang tidak berminat tidak terganggu dengan panggilan yang tidak relevan

#### **Alasan Pemilihan Dataset**

Saya memilih dataset ini karena ingin memahami bagaimana data science dapat membantu meningkatkan keuntungan bisnis. Dengan dataset ini, saya bisa memprediksi nasabah yang berpotensi tertarik pada produk bank sehingga tim marketing tidak membuang waktu menghubungi orang yang tidak berminat. Ini adalah contoh nyata bagaimana machine learning dapat memberikan value langsung ke bisnis.

### **1.2 Assess Situation**

Pada tahap ini, kita akan mengevaluasi kondisi dataset dan mengidentifikasi tantangan yang mungkin dihadapi dalam analisis.

#### **Kondisi Dataset**

Berdasarkan eksplorasi awal dataset Bank Marketing:

1. **Ukuran Dataset**
   - Dataset memiliki ribuan record data nasabah
   - Jumlah fitur/kolom yang cukup komprehensif untuk analisis

2. **Jenis Data**
   - Kombinasi data numerical (usia, saldo, durasi panggilan, dll)
   - Data categorical (pekerjaan, pendidikan, status pernikahan, dll)
   - Target variable bersifat binary (yes/no)

#### **Tantangan yang Dihadapi**

1. **Class Imbalance**
   - Kemungkinan terdapat ketidakseimbangan antara nasabah yang subscribe vs tidak subscribe
   - Jumlah nasabah yang berlangganan deposito biasanya lebih sedikit dibanding yang tidak
   - Hal ini dapat mempengaruhi performa model prediksi

2. **Missing Values**
   - Perlu pengecekan apakah ada data yang hilang atau tidak lengkap
   - Beberapa kolom mungkin memiliki nilai 'unknown' yang perlu ditangani

3. **Outliers**
   - Data seperti durasi panggilan, saldo rekening, atau usia mungkin memiliki outliers
   - Perlu identifikasi dan penanganan yang tepat agar tidak mengganggu analisis

4. **Multicollinearity**
   - Beberapa variabel mungkin saling berkorelasi tinggi
   - Perlu identifikasi untuk menghindari redundansi dalam model

5. **Feature Engineering**
   - Data categorical perlu di-encode menjadi numerical
   - Mungkin perlu pembuatan fitur baru dari kombinasi fitur yang ada
   - Normalisasi/standarisasi untuk fitur numerical dengan skala berbeda

6. **Data Quality**
   - Perlu validasi konsistensi data
   - Pengecekan data duplikat
   - Verifikasi kelogisan data (misalnya: usia tidak negatif)

#### **Resources yang Tersedia**

- Dataset lengkap dengan berbagai fitur demografis, finansial, dan kampanye
- Tools: Python dengan library data science (Pandas)
- Platform: Google Colab untuk komputasi

#### **Risiko dan Asumsi**

**Risiko:**
- Model mungkin bias terhadap kelas mayoritas karena imbalanced data
- Overfitting jika model terlalu kompleks
- Hasil prediksi mungkin tidak 100% akurat

**Asumsi:**
- Data yang dikumpulkan representatif terhadap populasi nasabah
- Pola perilaku nasabah di masa lalu akan relevan untuk prediksi masa depan
- Kondisi ekonomi dan pasar relatif stabil

### **3.3 Analytic Goals Project Plan**

Berdasarkan business objective dan kondisi dataset, berikut adalah goals analitik yang akan dicapai:

#### **Goals Utama**

1. **Exploratory Data Analysis (EDA)**
   - Memahami distribusi setiap variabel dalam dataset
   - Mengidentifikasi pola dan tren dalam data
   - Menemukan hubungan antara variabel independen dengan target variable
   - Visualisasi data untuk mendapatkan insight

2. **Data Preprocessing**
   - Menangani missing values dengan metode yang sesuai
   - Deteksi dan treatment outliers
   - Encoding variabel categorical
   - Feature scaling/normalization
   - Handling imbalanced data (SMOTE, undersampling, atau class weights)

3. **Feature Selection & Engineering**
   - Identifikasi fitur-fitur yang paling berpengaruh terhadap keputusan subscribe
   - Eliminasi fitur yang tidak relevan atau redundant
   - Membuat fitur baru jika diperlukan untuk meningkatkan performa model
   - Analisis korelasi antar fitur

4. **Model Development**
   - Membangun model machine learning untuk prediksi subscription
   - Mencoba berbagai algoritma (Logistic Regression, Decision Tree, Random Forest, XGBoost, dll)
   - Hyperparameter tuning untuk optimasi model
   - Cross-validation untuk validasi performa model

5. **Model Evaluation**
   - Evaluasi model dengan metrik yang sesuai:
     - Accuracy
     - Precision (penting untuk minimalisir False Positive)
     - Recall (penting untuk menangkap sebanyak mungkin nasabah potensial)
     - F1-Score
     - ROC-AUC Score
   - Confusion Matrix untuk memahami prediksi model
   - Feature importance analysis

6. **Business Insights**
   - Mengidentifikasi profil nasabah yang paling berpotensi subscribe
   - Memberikan rekomendasi strategi marketing berdasarkan hasil analisis
   - Estimasi peningkatan ROI dengan menggunakan model prediksi

#### **Kriteria Kesuksesan**

Analisis dianggap berhasil jika:

1. **Model Performance**
   - ROC-AUC Score minimal 0.75 (baik)
   - Precision minimal 60% untuk meminimalkan waktu terbuang pada nasabah yang tidak berminat
   - Recall minimal 70% untuk menangkap sebagian besar nasabah potensial

2. **Business Impact**
   - Dapat mengidentifikasi minimal 3-5 faktor utama yang mempengaruhi keputusan subscribe
   - Memberikan segmentasi nasabah yang jelas (high, medium, low potential)
   - Proyeksi peningkatan conversion rate minimal 20-30% dengan targeting yang lebih baik

3. **Actionable Insights**
   - Rekomendasi yang praktis dan dapat diimplementasikan oleh tim marketing
   - Visualisasi yang mudah dipahami oleh stakeholder non-teknis

#### **Deliverables**

1. Model prediksi yang dapat digunakan untuk scoring nasabah
2. Dashboard/visualisasi untuk memahami karakteristik nasabah potensial
3. Laporan analisis dengan insight dan rekomendasi bisnis
4. Documentation lengkap untuk reproduksi dan deployment model

---
## **Kesimpulan Checkpoint 1**

1. **Business Objective**:
   - Memahami konteks bisnis dan masalah yang dihadapi bank
   - Mendefinisikan tujuan analisis untuk meningkatkan efisiensi kampanye marketing

2. **Assess Situation**:
   - Mengidentifikasi kondisi dataset dan tantangan yang akan dihadapi
   - Memahami resources dan risiko dalam project

3. **Analytic Goals**:
   - Menetapkan target analisis yang konkret dan terukur
   - Mendefinisikan kriteria kesuksesan project